.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-body {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.loading {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

#publishedAt {
  text-align: end;
  font-size: 1rem;
}

#author {
  text-align: end;
  font-size: 1rem;
}

.headingAPP {
  font-size: calc(2rem + 1.5vw);
  color: antiquewhite;
  font-weight: bold;
  font-style: italic;
}

header {
  display: flex !important;
  padding: 18px;
  background: brown;
}

#containerNews {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.container {
  max-width: 2030px;
}

.paginationBttns {
  width: 88%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid maroon;
  color: rgb(54, 21, 8);
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: rgb(139, 44, 44);
}

.paginationActive a {
  color: white;
  background-color: rgba(128, 0, 0, 0.521);
}

.bg-dark {
  background-color: #212529 !important;
  padding: 20px;
}
